@font-face {
    font-family: 'raleway';
    src: url('police/Raleway-VariableFont_wght.ttf') format(truetype);
}

* /*ajout de la propriété Box sizing */
{
    box-sizing: border-box;
}

/*mise en page générale*/

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

#blocPage{
    font-family: raleway, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1366px;
    min-width: 350px;
}

#paddingContainer, #paddingHeader{
    padding: 0 20px;
}

/* disposition du menu de naviguation */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding-top: 0;
}
.logo{
    width: 150px;
    height: 70px;
    margin: 20px 0 0 20px;
}

.navLinks{
    width: 35%;
}

.navLinks ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.navLinks ul li{
    text-align: center;
    width: 100%;    
    border-top: 2px solid transparent;
    padding-top: 50px;
}

.navLinks ul li:hover{
    border-top-color:#0065BC;
}
.navLinks ul li a:hover{
    color: #0065FC;
}

/*----- section recherche intéractive --------*/


/* design de la barre de recherche */

.search form{
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.searchPositionIcon{
    background-color: #F2f2f2;
    padding: 15px 20px;
    text-align: center;
    border-radius: 15px 0 0 15px;
}

.search form input{
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #F2f2f2;
    border-left: none;
    border-right: none;
    padding: 0 20px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
}

.search form button{
    background-color: #0065FC;
    padding: 0 1.5rem;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#loupe{
    display: none;
}

/* design des boutons filtres */

.searchFilters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.searchFilters h2{
    display: flex;
    align-items: center;
    margin: 35px 15px 15px 0;
}

.searchFilters div{
    margin: 20px 20px 15px 0;
    border: 2px #f2f2f2 solid;
    border-radius: 30px;
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
.searchFilters div:hover{
    background-color:  #deebff;
    font-weight: bolder;
    transition: 0.5s;
}

.searchFilters i{
    color: #0065FC;
    background-color: #deebff;
    border: 2px #deebff solid;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchResult{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchResultIcon{
    margin-right: 15px;
}

.searchResultIcon i{
    color: #0065fc;
    border: 2px #deebff solid ;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* disposition des résultats trouvés */

main{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}

.mainResult{
    background-color: #F2f2f2;
    border-radius: 15px;
    width: 68%;
    padding: 2%;
}

.rowResult{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

/* disposition des résultats populaires */

.mostPopular{
    background-color: #F2f2f2;
    border-radius: 15px;
    width: 30%;
    padding: 2%;
}

.popularTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popularTitle i{
    font-size: 25px;
}

.popularResult{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Disposition des cards activités */

.activities{
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.activitiesPart1, .activitiesPart2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.activitiesPart2 .rowRight{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.activitiesPart1 .rowRight{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.activitiesPart2 .activitiesCardV1{
    margin-left: 2.5%;
}
.activitiesPart1 .activitiesCardV1{
    margin-right: 2.5%;
}

/* card design */

/***** main card *****/

.cardV1{
    min-width: 190px;
    width: 30%;
    height: 170px;
    background-color: white;
    border: 3px white solid;
    border-radius: 20px;
    box-shadow: 0 0 10px #6e6e6e;
    overflow: hidden;
}

.imageHolderV1{
    width: 100%;
    height: 60%;
}

.imageHolderV1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/**** popular card ****/

.cardV2{
    min-width: 205px;
    width: 95%;
    background-color: white;
    border: 3px white solid;
    border-radius: 20px;
    box-shadow: 0 0 10px #6e6e6e;
    overflow: hidden;
    margin-bottom: 10%;
}

.cardV2 a{
    display: flex;
    align-items: flex-start;
    height: 120px;
}

.imageHolderV2{
    width: 45%;
    min-width: 45%;
    height: 100%;
    overflow: hidden;
}

.imageHolderV2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/**** activities card design ****/

.activitiesCardV1{
    width: 90%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px #6e6e6e;
    overflow: hidden;
}
.activitiesCardV2{
    width: 90%;
    height: 260px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px #6e6e6e;
    overflow: hidden;
}
.activitiesCardV3{
    width: 90%;
    height: 210px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px #6e6e6e;
    overflow: hidden;
}

.activitiesImageHolder{
    height: 88%;
    overflow: hidden;
}
.activitiesImageHolder1{
    height: 74%;
    overflow: hidden;
}

.activitiesImageHolder img, .activitiesImageHolder1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Card body design */

/**** main card ****/
main h4{
    font-size: 14px;
}
.cardBodyV1 div{
    margin-left: 10px;
}

.cardBodyV1 h4, .cardBodyV1 p, .cardBodyV2 h4{
    margin: 5px 0;
}

.cardBodyV1 p, .cardBodyV1 i, .cardBodyV2 p, .cardBodyV2 i{
    font-size: 12px;
}

/**** popular card ****/

.cardBodyV2{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/**** activities card ****/

.activitiesCardBody{
    margin-left: 5%;
    display: flex;
    align-items: center;
}

/**** Rating design ****/

.cardRating{
    color: #0065FC;
    display: flex;
    align-items: center;
}

.greyStar{
    display: flex;
    align-items: center;
    color: #f2f2f2;
}
/* disposition footer */

footer{
    display: flex;
    background-color: #f2f2f2;
}
footer div{
    width: 30%;
    padding: 0 40px;
}
footer ul{
    padding-left: 0;
}

footer ul li{
    font-size: 15px;
    line-height: 25px;
}


@media  all and (max-width: 992px){
    /* agrandissement de la barre de navigation */
    .navLinks{
        width: 50%;
    }

    /*réagencement du main et popular */
    main{
        flex-direction: column;
    }

    .mainResult{
        width: 100%;
    }

    .mostPopular{
        order: -1;
        width: 100%;
        margin-bottom: 3%;
    }

    .popularResult{
        flex-direction: row;
    }

    .cardV2{
        margin: 1%;
    }

    /* display intermédiaire pour activités */
    .activities{
        flex-direction: column;
    }

    .activitiesPart1{
        margin-bottom: 2%;
    }

    .activitiesPart1 .rowRight{
        align-items: flex-end;
    }
    .activitiesPart2 .activitiesCardV1{
        margin-left: 0;
        margin-right: 2.5%;
    }
}

@media  all and (max-width: 768px){

    #paddingHeader{
        padding: 0;
    }

    /* agencement pour logo et navigation */
    header{
        flex-direction: column;
        align-items: center;
    }

    .logo{
        margin-left: 0;
    }

    .navLinks{
        width: 100%;
        margin: 0;
        padding:0 ;
    }

    .navLinks ul li{
        padding-top: 5%;
        font-size: 30px;
        border-top: 0;
        border-bottom: 2px #F2f2f2 solid;
        padding-bottom: 2%;
    }

    .navLinks ul{
        padding-left: 0;
    }

    .navLinks ul li:hover{
        border-bottom: 2px solid#0065FC;
    }

    /*agrandissement de la zone de recherche */

    .search form{
        width: 100%;
        margin-right: 2%;
    }

    .search form input{
        width: 80%;
    }

    /* affichage de la loupe */

    #loupe{
        display: inline;
    }

    .searchFormButton{
        display: none;
    }

    /* mise en forme des filtres */

    .searchFilters h2{
        width: 100%;
    }

    /* mise en page en colonne du main aside et activité */
    .mainResult{
        background-color: transparent;
    }

    .resultTitle{
        margin-left: 2%;
    }

    .mostPopular{
        border-radius: 0;
    }

    .popularTitle h3{
        margin-left: 3%;
    }

    .rowResult, .popularResult, .activitiesPart1, .activitiesPart2{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .cardV1, .activitiesCardV1, .activitiesCardV2, .activitiesCardV3{
        width: 95%;
        margin-bottom: 3%;
        height: 200px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .imageHolderV1{
        height: 65%;
    }

    .imageHolderV2{
        width: 35%;
        min-width: 35%;
    }

    .cardV2{
        margin-bottom: 3%;
    }
    .cardV2 a{
        height: 200px;
    }

    .activitiesPart1 .rowRight, .activitiesPart2 .rowRight{
        align-items: center;
    }

    .activitiesPart2 .activitiesCardV1{
        margin-left: 0;
        margin-right: 0%;
    }

    .activitiesTitle{
        margin-left: 2%;
    }

    .activitiesImageHolder1, .activitiesImageHolder{
        height: 75%;
    }


    footer{
        flex-direction: column;
        font-size: 3vmax;
    }
    footer div{
        width: 100%;
    }
    footer ul li{
        font-size: 20px;
        line-height: 40px;
    }

    .cardBodyV1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}